.element {
  border: 1px solid black;
  padding: 15px;
  min-height: 250px;
  display: table;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: white 5px solid;
  -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.23);
  background-color: #889bdb;
}

.wrapper {
  margin-top: 15px;
}
.wrapper div{
 padding: 10px;
}
.navbar-default .navbar-brand {
  font-family: 'Roboto',
  sans-serif;
  color: black;
  font-weight: 500;
}

.element-title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  line-height: 44px;
  color: black;
  font-weight: 500;
}

.title-wrapper {
  min-height: 50px;
  text-align: center;
}
body {
  font-family: 'Roboto',
  sans-serif;

  background-color: #ededed;
}
.text-wrapper {
  text-align: center;
  margin-top: 15px;
}

.project-one {
  background-image: url("img/projectOne.png");
}

.project-two {
  background-image: url("img/bikes-website.png");
}

.project-three {
  background-image: url("img/mobilitas-web.png");
}

.project-four {
  background-image: url("img/projectFour.png");
}

.project-five {
  background-image: url("img/projectFive.png");
}
.project-six {
  background-image: url("img/projectSix.png");
}
.project-seven {
  background-image: url("img/artists-app.png");
}
.project-eight {
  background-image: url("img/growth-and-lifetime-calculator.png");
}
.project-nine {
  background-image: url("img/multistep-wizard.png");
}
.navbar {
  background-color: white;
}
.title-homepage {
  color: white;
}
.element-wrapper a {
  text-decoration: none;
}
.connect-wrapper {
  font-size: 18px;
  text-align: center;
}
.element-homepage {
  min-height: 400px;
}
.footer {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
}
.about-me {
  background-image: url("img/aboutme.jpg");
}
.projects {
  background-image: url("img/projects.png");
}
.contact {
  background-image: url("img/contact.jpg");
}
